
@{
    ViewBag.Title = "Home";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#80585913196466').contents().find('.formFooter').hide();
    });
</script>

<body class="landing">
    <div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">Smart Gizmo</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Blogs</a></li>
							<li><a href="#" class="button special">Contact Us</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Meet Alexa</h2>
							<p>The future has landed.<br />
							Control your Home with Style</p>
						</header>
						<span class="image"><img src="~/Content/images/Echo-Dot-Top.png" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="~/Content/images/image-1.png" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="6u 12u$(medium)">
									<header>
                                        <h2>A Voice Controlled Smart Home</h2>
                                        <p>Get personalized help with your reminders, calls, schedule, news and more, whenever Alexa recognizes your voice.</p>
									</header>
								</div>
                                <div class="6u 12u$(medium)">
                                    <header>
                                        <ul>
                                            <li>Switch on the lamp before getting out of bed</li>
                                            <li>Turn up the thermostat while reading 
                                                your book</li>
                                            <li>Dim the lights from the couch while watching a movie</li>
                                            <li>The good thing, you can ask anything! :)</li>
                                        </ul>
                                        
                                    </header>
                                </div>
								@*<div class="4u$ 12u$(medium)">
									<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
									adipiscing adipiscing metus massa. Blandit orci porttitor semper.
									Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
									mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
									ipsum dolor nullam.</p>
								</div>*@
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="~/Content/images/image-2.png" alt="" /></span>
					<div class="content">
						<header>
							<h2>Hands-free help around the house. </h2>
                            <p>Whenever you need help,<br /> it's by your side.</p>
						</header>
                        <p>You can place Dot in the bedroom and use it as a smart alarm clock that can also turn off your lights. 
                            Or use Dot in the kitchen to easily set timers and shop using just your voice.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="~/Content/images/image-3.png" alt="" /></span>
					<div class="content">
						<header>
							<h2>Ask Alexa to play any music</h2>
							<p>Listen to any songs available online</p>
						</header>
						<p>Provides hands-free voice control for Amazon Music, Prime Music, Pandora, Spotify, iHeartRadio, and TuneIn.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#banner-bottom" class="goto-next scrolly">Next</a>
				</section>

        <!-- Four -->
        @*<section id="four" class="wrapper style1 special fade-up">
            <div class="container">
                <header class="major">
                    <h2>Accumsan sed tempus adipiscing blandit</h2>
                    <p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
                </header>
                <div class="box alt">
                    <div class="row uniform">
                        <section class="4u 6u(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-area-chart"></span>
                            <h3>Ipsum sed commodo</h3>
                            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                        </section>
                        <section class="4u 6u$(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-comment"></span>
                            <h3>Eleifend lorem ornare</h3>
                            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                        </section>
                        <section class="4u$ 6u(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-flask"></span>
                            <h3>Cubilia cep lobortis</h3>
                            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                        </section>
                        <section class="4u 6u$(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-paper-plane"></span>
                            <h3>Non semper interdum</h3>
                            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                        </section>
                        <section class="4u 6u(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-file"></span>
                            <h3>Odio laoreet accumsan</h3>
                            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                        </section>
                        <section class="4u$ 6u$(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-lock"></span>
                            <h3>Massa arcu accumsan</h3>
                            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                        </section>
                    </div>
                </div>
                <footer class="major">
                    <ul class="actions">
                        <li><a href="#" class="button">Magna sed feugiat</a></li>
                    </ul>
                </footer>
            </div>
        </section>*@

        <!-- Banner -->
        <section id="banner-bottom">
            <div class="content">
                <header>
                    <h2>Free Shipping</h2>
                    <p>
                        Get the Amazon Echo Dot for only Php 3,200
                    </p>
                    <p>
                        <sup>Free shipping applies to orders within Metro Manila</sup>
                    </p>
                </header>
                <span class="image">
                    <img src="~/Content/images/echo-white-black.png" alt="" />
                </span>
            </div>
        </section>

        <!-- Five -->
        <section id="five" class="wrapper style2 special fade-up">
            <div class="container">
                <script type="text/javascript" src="https://form.jotform.me/jsform/80585913196466"></script>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                @*<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>*@
                <li><a href="https://web.facebook.com/SmartGizmoPH/" target="_blank" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                @*<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>*@
                <li><a href="https://www.instagram.com/smartgizmoph/" target="_blank" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                @*<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>*@
                <li><a href="mailto:support@smartgizmo.com.ph" target="_blank" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Smart Gizmo. 2018 All rights reserved.</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/js/jquery.dropotron.min.js"></script>
    <script src="~/Content/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/js/skel.min.js"></script>
    <script src="~/Content/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/Content/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/js/main.js"></script>
</body>